wsApiSeat/Service References/WsServ/wsServicio12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DVAModelsReflection.Models.PSI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DVAModelsReflection.Models.PSI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.5.2.21/ws_adminServicio/wsServicio.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DVAModelsReflection.Models" />
  <xs:complexType name="ArrayOfUsuarioArea">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioArea" nillable="true" type="tns:UsuarioArea" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioArea" nillable="true" type="tns:ArrayOfUsuarioArea" />
  <xs:complexType name="UsuarioArea">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/DVAModelsReflection.Models" base="q1:DB2ObjectPSI">
        <xs:sequence>
          <xs:element minOccurs="0" name="IdArea" type="xs:int" />
          <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UsuarioArea" nillable="true" type="tns:UsuarioArea" />
</xs:schema>