wsApiSeat/Service References/WsServ/wsServicio20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DVAModelsReflection.Models.COMP" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DVAModelsReflection.Models.COMP" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.5.2.21/ws_adminServicio/wsServicio.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DVAModelsReflection.Models" />
  <xs:complexType name="ArrayOfPersonaCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonaCategoria" nillable="true" type="tns:PersonaCategoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonaCategoria" nillable="true" type="tns:ArrayOfPersonaCategoria" />
  <xs:complexType name="PersonaCategoria">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/DVAModelsReflection.Models" base="q1:DB2ObjectCOMP">
        <xs:sequence>
          <xs:element minOccurs="0" name="Categoria" nillable="true" type="tns:CategoriasParaArticulosYServicios" />
          <xs:element minOccurs="0" name="IdCategoria" type="xs:int" />
          <xs:element minOccurs="0" name="IdPersona" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonaCategoria" nillable="true" type="tns:PersonaCategoria" />
  <xs:complexType name="CategoriasParaArticulosYServicios">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/DVAModelsReflection.Models" base="q2:DB2ObjectCOMP">
        <xs:sequence>
          <xs:element minOccurs="0" name="Clasificacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdClasificacion" type="xs:int" />
          <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequiereImagen" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CategoriasParaArticulosYServicios" nillable="true" type="tns:CategoriasParaArticulosYServicios" />
</xs:schema>